.createlist_container {
    width: 90%;
    max-width: 100%;
    margin: auto;

    h1 {
        margin: 4rem 0;
        font-size: 30px;
    }

    form {
        .input_content {
            margin: 0 0 40px  0 ;
            label {
                color: #7E7E7E;
                font-size: 15px;
            }

        }

        .input_content_text {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            width: 540px;
            gap: 15px;
            margin-bottom: 40px;

            label {
                color: #7E7E7E;
                font-size: 15px;
            }

            textarea {
                width: 100%;
                padding: 1rem;
                outline: 0;
                border: 1px solid rgba(57, 53, 64, 0.2);
                resize: none;
                border-radius: 5px;
            }
        }

        .input_content_img {
            margin-bottom: 2rem;
            label {
                color: #7E7E7E;
                font-size: 15px;
            }

            .upload {
                cursor: pointer;
                font-family: "Poppins";
                font-style: normal;
                background: #fff;
                width: 175px;
                border: 0;
                outline: 0;
                filter: drop-shadow(1px 1px 5px rgba(165, 165, 165, 0.141));
                padding: 10px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                gap: 8px;
                color: #3E2180;
                font-weight: 500;
                margin: 15px 0 0 0;
            }
        }

        .features {
            h4 {
                color: #7E7E7E;
                margin-bottom: 1.5rem;
                font-size: 30px;
                font-weight: 500;
            }

            div {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;
                gap: 30px;
                margin-bottom: 3rem;

                .features_content {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 15px;
                    width: 13%;
                    max-width: 100%;


                    input[type="checkbox"] {
                        accent-color: #BF4D01;
                    }
                    p {
                        color: #000;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}