.SectionStories {
  display: flex;
  flex-direction: column;

  .heading {
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    .heading_top {
      display: flex;
      align-items: center;

      p {
        color: black;
        font-size: 18px;
        line-height: 56px;
        font-weight: 600;
        margin-left: 10px;
      }
    }

    h2 {
      color: black;
      font-size: 34px;
      line-height: 56px;
      font-weight: 700;
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    column-gap: 30px;
    // flex-wrap: wrap;
    .card {
      display: flex;
      flex-direction: column;
      // row-gap: 18px;
      margin-bottom: 30px;
      width: 100%;
      text-decoration: none;
      .card__imgWrap {
        width: 400px;
        height: 300px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      h3 {
        color: black;
        font-size: 28px;
        line-height: 40px;
        font-weight: 700;
      }

      p {
        color: black;
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .SectionStories {
    .heading {
      .heading_top {
        p {
          font-size: 16px;
        }
      }

      h2 {
        font-size: 24px;
      }
    }

    .content {
      grid-template-columns: 1fr;
      width: 100%;
      .card {
        width: 100%;
        .card__imgWrap {
          width: 100%;
          height: 200px;
        }

        h3 {
          font-size: 24px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .SectionStories {
    .heading {
      .heading_top {
        p {
          font-size: 16px;
        }
      }

      h2 {
        font-size: 24px;
      }
    }

    .content {
      grid-template-columns: repeat(2, 350px);
      width: 100%;
      .card {
        width: 100%;
        .card__imgWrap {
          width: 100%;
          height: 200px;
        }

        h3 {
          font-size: 24px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }
}
