@import "../../assets/styles/colors";
@import "../../assets/styles/functions";

.BlogPage {
  width: 100%;
  margin-top: 60px;
  padding: 0 30px;

  main {
    width: 100%;

    header {
      display: flex;
      justify-content: space-between;
      // background-color: #fafafa;
      // padding: 80px 180px 0 180px;

      .left_hero {
        display: flex;
        flex-direction: column;
        row-gap: 22px;
        width: 664px;

        h1 {
          color: $secondary;
          font-size: 40px;
          // line-height: 62px;
          font-weight: 700;
          // width: 690px;
        }

        p {
          color: black;
          font-size: 20px;
          line-height: 34px;
          font-weight: 500;
        }

        .Link {
          display: flex;
          align-items: center;
          column-gap: 14px;
          text-decoration: none;

          p {
            color: black;
            font-size: 18px;
            line-height: 56px;
            font-weight: 600;
            text-decoration: none;
          }
        }
      }
      .img_wrap {
        width: 600px;
        height: 450px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .sectionStories {
      width: 100%;
      // padding: 120px 180px 0 180px;
      display: flex;
      flex-direction: column;
      // row-gap: 90px;
    }
  }
}

@media screen and (max-width: 768px) {
  .BlogPage {
    // margin-top: 0;
    padding: 0 40px;

    main {
      header {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;

        .left_hero {
          width: 100%;
          align-items: center;
          text-align: center;

          h1 {
            font-size: 24px;
            line-height: 40px;
          }

          p {
            font-size: 16px;
            line-height: 26px;
          }
        }

        .img_wrap {
          width: 100%;
          height: 300px;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .BlogPage {
    padding: 0 40px;

    main {
      header {
        .left_hero {
          width: 100%;
          align-items: center;
          text-align: center;

          h1 {
            font-size: 24px;
            line-height: 40px;
          }

          p {
            font-size: 16px;
            line-height: 26px;
          }
        }

        .img_wrap {
          width: 100%;
          height: 300px;
        }
      }
    }
  }
}
