@import "../../assets/styles/colors";
@import "../../assets/styles/functions";

.BookingPage {
  width: 100%;
  display: flex;
  flex-direction: column;

  main {
    width: 100%;
    padding: 0 5rem;

    @include mediaQuery(760px) {
      padding: 0 20px;
    }

    header {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      @include mediaQuery(760px) {
        row-gap: 0px;
      }

      .Link {
        display: flex;
        align-items: center;
        column-gap: 3px;
        text-decoration: none;
        cursor: pointer;

        img {
          width: 24px;
          height: 24px;
        }

        p {
          color: black;
          font-size: 18px;
          line-height: 50px;
          font-weight: 500;
        }
      }

      h2 {
        color: black;
        font-size: 36px;
        line-height: 33px;
        font-weight: 700;
        @include mediaQuery(760px) {
          font-size: 30px;
          line-height: 18px;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      // margin: 50px 0 0 4rem;

      .user_details {
        display: flex;
        column-gap: 80px;

        @include mediaQuery(760px) {
          flex-direction: column;
          row-gap: 40px;
        }

        .input_text {
          display: flex;
          flex-direction: column;
          margin-top: 4rem;

          label {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 48px;
            @include mediaQuery(760px) {
              font-size: 24px;
              line-height: 20px;
            }
          }

          input {
            // background-color: #f3f5f7;
            // border-radius: 12px;
            // width: 627px;
            // height: 78px;
            // border: none;
            @include mediaQuery(760px) {
              width: 100%;
              height: 52px;
            }
          }
        }
      }

      .items {
        display: flex;
        flex-direction: column;
        row-gap: 148px;
        margin: 120px 0 0 0;
      }
    }
  }
}
