.homepage {
    background: linear-gradient(to bottom,
            white 0%,
            white 30%,
            var(--secondary-color) 30%,
            var(--secondary-color) 100%)
}

@media (max-width: 1305px) {
    .homepage {
        background: linear-gradient(to bottom,
                white 0%,
                white 26%,
                var(--secondary-color) 26%,
                var(--secondary-color) 100%)
    }
}

@media (max-width: 1024px) {
    .homepage {
        background: linear-gradient(to bottom,
                white 0%,
                white 35%,
                var(--secondary-color) 35%,
                var(--secondary-color) 100%)
    }
}

@media (max-width: 860px) {
    .homepage {
        background: linear-gradient(to bottom,
                white 0%,
                white 28%,
                var(--secondary-color) 28%,
                var(--secondary-color) 100%)
    }
}

@media (max-width: 627px) {
    .homepage {
        background: linear-gradient(to bottom,
                white 0%,
                white 24%,
                var(--secondary-color) 24%,
                var(--secondary-color) 100%)
    }
}