.inputField {
  width: 100%;
  background: var(--primary-color);
  padding: 5px;
  border: 1px solid rgba(57, 53, 64, 0.2);
  border-radius: 10px;
  height: 50px;
  margin: 8px 0;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  span {
    padding-right: 15px;
  }

  input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    color: rgb(52, 51, 51);
    font-size: 16px;
    padding: 0 8px;
    &::placeholder {
      color: var(--dim-color);
      font-family: "Josefin Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
    }
  }
  span {
    padding-right: 1rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .inputField {
    margin: 0.5rem;
  }
}