.payment {
    padding-bottom: 100px;

    .paymentDetails {
        width: 85vw;
        margin-left: auto;
        margin-right: auto;

        h1 {
            margin-top: 60px;
            margin-bottom: 30px;
            font-size: 20px;
            word-spacing: -1px;
            font-weight: 600;
        }

        h2 {
            font-size: 26px;
            color: var(--tertiary-color);
            font-weight: 600;
        }

        .address {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-top: 10px;
            padding-bottom: 40px;

            svg {
                width: 20px;
                height: 20px;
            }

            p {
                font-size: 20px;
                font-weight: 600;
            }
        }

        .detailsheader {
            display: flex;
            align-items: center;
            gap: 6px;
            padding-bottom: 20px;

            div {
                width: 50px;
                border-top: 1px solid var(--dim-color);
            }

            h3 {
                font-weight: 600;
                font-size: 16px;
                word-spacing: -2px;
            }
        }

        .details {
            display: flex;
            gap: 50px;

            .nameandPhone {
                display: grid;
                gap: 5px;

                div {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    p {
                        color: var(--secondary-color);
                        font-weight: 600;
                        font-size: 20px;
                    }

                    span {
                        color: var(--tertiary-color);
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
            }

            .specialrequest {
                display: grid;
                gap: 5px;

                p {
                    color: var(--secondary-color);
                    font-weight: 600;
                    font-size: 20px;
                }

                span {
                    color: var(--tertiary-color);
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }

        .eventDetails {
            margin-top: 50px;

            div {
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 45px;
                background-color: black;
                margin-bottom: 20px;

                p {
                    color: white;
                    font-weight: 500;
                    font-size: 12px;
                }
            }
        }

        .totalanddiscount {
            display: grid;
            gap: 10px;
            margin-top: 50px;

            .subtotal,
            .discount {
                color: var(--tertiary-color);
                font-weight: 600;
                font-size: 16px;
            }
        }

        .total {
            height: 45px;
            background-color: black;
            display: flex;
            width: 300px;
            align-items: center;
            justify-content: space-around;
            margin-top: 30px;

            p {
                color: white;
                font-weight: 500;
                font-size: 12px;
            }
        }

        div {
            margin-left: 0;
        }

        .button {
            background-color: var(--secondary-color);
            color: white;
            width: 150px;
            height: 45px;
            margin: 0;
        }
    }
}

@media (max-width: 600px) {
    .payment {
        .details {
            flex-wrap: wrap;
        }
    }

}