.partnersAndFAQ {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;

    .FAQ {
        padding-bottom: 50px;
        padding-top: 20px;
        margin-top: 70px;

        h5,
        p {
            font-size: 24px;
        }
    }

    div {
        div {
            details {
                position: relative;
                max-width: 400px;
                padding-bottom: 30px;

                summary {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    height: 48px;

                    &:focus {
                        outline: none;
                    }

                    span {
                        -webkit-user-select: none;
                        user-select: none;
                        color: white;
                    }
                }

                &:hover {
                    cursor: pointer;
                }

                span {
                    cursor: default;
                    color: white;

                }

                summary::-webkit-details-marker {
                    display: none;
                }

                .chevronright,
                .chevronleft {
                    pointer-events: none;
                    position: absolute;
                    right: -30px;
                    top: 0.75em;
                    background: var(--secondary-color);

                    svg {
                        display: block;
                        width: 25px;
                        height: 25px;
                    }

                }
            }
        }
    }
}


.partnersHeader {
    display: flex;
    align-items: center;

    h4 {
        font-weight: 600;
        font-size: 18px;
        color: white;
        margin-bottom: 30px;
    }

}

.partners {
    display: flex;
    align-items: center;
    justify-content: space-between;

    :nth-child(2) {
        align-self: start;
    }

    :nth-child(3) {
        align-self: end;
    }
}

.sales {
    span:first-child {
        display: block;
        width: 40vw;
        font-size: 30px;
        font-weight: 700;
        color: white;
    }

    :nth-child(2) {
        display: block;
        font-weight: 500;
        font-size: 18px;
        color: white;
        width: 40vw;
        margin-top: 43px;
    }
}

.learnMore {
    color: white;
}

.FAQ {
    border-top: 1px solid white;

    h5 {
        color: white;
        text-align: center;
        font-weight: 700;
        font-size: 57px;
    }

    p {
        color: white;
        text-align: center;
        font-size: 28px;
        padding-bottom: 50px;
    }

    div {
        display: flex;
        justify-content: space-between;

        div {
            display: grid;
        }

        img {
            height: 44.4%;
        }
    }
}

@media (max-width: 1024px) {
    .partnersAndFAQ {
        .partners {
            justify-content: space-between;

            .sales {
                width: 50%;

                :nth-child(2) {
                    width: 100%;
                }
            }
        }

    }

    .FAQ {
        div {
            display: grid;
        }

        img {
            height: 200px !important;
        }
    }
}