* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',
    sans-serif;
}

:root {
  --primary-color: #fafafa;
  --secondary-color: #3e2180;
  --dim-color: #7e7e7e;
  --tertiary-color: #bf4d01;
}